.page {
  display: grid;
  grid-template-rows: 2px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-lexend-deca);

  background-image: radial-gradient(circle, #ffffff33 1px, transparent 2px);
  background-size: 40px 40px;
  background-color: black;

  .gradient {
    position: fixed;

    bottom: 0;
    right: 0;
    left: 0;

    height: 50%;
    background: linear-gradient(to top, #4acc3930, transparent);

    opacity: 0.5;
  }

  main {
    grid-row-start: 2;
    z-index: 999;
    height: 100%;
    width: 60%;
    color: white;

    .gridContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      padding: 0 15px 0 15px;

      h2 {
        padding: 20px 0 0 0;
      }

      p {
        margin: 0;
        padding: 2px;
      }

      ul {
        padding: 0 0 0 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .page main {
    width: 100%;

    h1 {
      font-size: 3vh;
    }

    h2 {
      font-size: 2.5vh;
    }

    p,
    li {
      font-size: 1.7vh;
    }
  }
}
